@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Tilt+Neon&display=swap');

/* task_1 */
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em 5em 1fr 0.2fr;
    row-gap: 1em;
    column-gap: 1em;
    --main-font: 'Tilt Neon', sans-serif;
    --main-time-anim: 0.5s;
}

header, nav, aside, main, footer {
    border-radius: 1em;
    border: 3px solid red;
}

header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1; 
}

.sidebar {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

nav {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
}

.ads {
    grid-column: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

main {
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 4;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 5em 5em 1fr 5em 5em 0.2fr;
    }

    header, nav, .ads, .sidebar, main, footer {
        grid-column: auto;
    }

    header {
        grid-row: 1; 
    }
    
    nav {
        grid-row: 2;
    }
    
    main {
        grid-row: 3;
    }

    .sidebar {
        grid-row: 4;
    }
    
    .ads {
        grid-row: 5;
    }
    
    footer {
        grid-row: 6;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    body {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 5em 5em 1fr 0.2fr;
    }

    header {
        grid-column: 1 / span 4;
        grid-row: 1; 
    }
    
    nav {
        grid-column: 1 / span 4;
        grid-row: 2;
    }
    
    main {
        grid-column: 2 / span 3;
        grid-row: 3;
    }

    .sidebar {
        grid-column: 1;
        grid-row: 3;
    }
    
    .ads {
        grid-column: 1;
        grid-row: 4;
    }
    
    footer {
        grid-column: 2 / span 3;
        grid-row: 4;
    }
}

/* task_2 */
.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em 0.5em;
    padding: 0.5em;
    justify-content: space-around;
    background-color: rgb(16, 16, 19);
}

.main-cards .item {
    background-color: #2b2b2b;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color var(--main-time-anim);
}

.main-cards .item:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1;
}

.main-cards .item:nth-child(2){
    grid-column: 3;
    grid-row: 1 / span 2;
}

.main-cards .item:nth-child(3){
    grid-column: 4;
    grid-row: 1;
}

.main-cards .item:nth-child(4){
    grid-column: 4;
    grid-row: 2;
}

.main-cards .item:nth-child(5){
    grid-column: 1;
    grid-row: 2 / span 2;
}

.main-cards .item:nth-child(6){
    grid-column: 2;
    grid-row: 2;
}

.main-cards .item:nth-child(7){
    grid-column: 2 / span 3;
    grid-row: 3;
}

.main-cards .item p {
    text-align: center;
    margin-top: 0;
    font-family: var(--main-font);
}

.main-cards .item img {
    margin-bottom: 0;
}

.main-cards .item:hover {
    background-color: rgb(255, 46, 91);
    transition: background-color var(--main-time-anim);
}

@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .main-cards .item:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    
    .main-cards .item:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    
    .main-cards .item:nth-child(3){
        grid-column: 1;
        grid-row: 3;
    }
    
    .main-cards .item:nth-child(4){
        grid-column: 1;
        grid-row: 4;
    }
    
    .main-cards .item:nth-child(5){
        grid-column: 1;
        grid-row: 5;
    }
    
    .main-cards .item:nth-child(6){
        grid-column: 1;
        grid-row: 6;
    }
    
    .main-cards .item:nth-child(7){
        grid-column: 1;
        grid-row: 7;
    }
}

/* task_3 */
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgb(16, 16, 19);
    justify-content: space-around;
    gap: 0.5em 0.5em;
    border: 0.5em solid #2b2b2b;
    color: whitesmoke;
    font-family: var(--main-font);
    padding: 0.5em;
}

.contact-form h3 {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

.contact-form .item {
    display: flex;
    flex-direction: column;
}

.contact-form .item:nth-child(6) {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.contact-form input {
    background-color: rgb(0, 200, 255);
    outline: none;
    border: none;
    padding: 0.5em;
    color: rgb(0, 200, 255);
    transform: scale(1, 0.2);
    transition: 
        transform var(--main-time-anim),
        color var(--main-time-anim);
}

/* .contact-form .item input:empty {
    transform: scale(1, 2);
} */

.contact-form .item:hover input,
.contact-form input:focus {
    transform: scale(1, 1);
    color: black;
    transition: 
        transform var(--main-time-anim),
        color var(--main-time-anim);
}

.contact-form button {
    background-color: rgb(0, 200, 255);
    border-radius: 1em;
    border: none;
    transform: scale(1, 1);
    transition: transform var(--main-time-anim);
}

.contact-form button:hover {
    transform: scale(0.9, 0.9);
    transition: transform var(--main-time-anim);
}

@media screen and (max-width: 768px) {
    .contact-form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .contact-form h3 {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
    }

    .contact-form .item:nth-child(6) {
        grid-column: 1;
        grid-row: 6;
    }
}

/* task_4 */
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2em;
    gap: 0.5em 0.5em;
    background-color: rgb(46, 100, 206);
    color: whitesmoke;
    font-family: var(--main-font);
    padding: 0.5em;
}

footer .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .copyright-line {
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: rgb(19, 62, 181);
    text-align: center;
    height: 1.5em;
    padding-top: 0.5em;
    border-radius: 1em;
    font-size: 0.7rem;
}

footer .item h3 {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(255, 249, 182);
    text-underline-offset: 0.5em;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(255, 249, 182);
    transition: color var(--main-time-anim);
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 2em;
    }

    footer .copyright-line {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    footer .item:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    footer .item:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    footer .item:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    footer .item:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
}

@media screen and (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 2em;
    }

    footer .copyright-line {
        grid-column: 1;
        grid-row: 5;
    }

    footer .item:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    footer .item:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    footer .item:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    footer .item:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }
}